In [74]:
import pandas as pd
from transformers import pipeline

df = pd.read_csv("data/BERT_annotated_data.csv")
df

,text,emotions,emotion_label,emotion_score
0,i feel awful about it too because it s my job ...,sadness,sadness,0.992340
1,im alone i feel awful,sadness,sadness,0.991029
2,ive probably mentioned this before but i reall...,joy,joy,0.991750
3,i was feeling a little low few days back,sadness,sadness,0.993073
4,i am one of those people who feels like going ...,joy,joy,0.994777
...,...,...,...,...
367278,that was what i felt when i was finally accept...,joy,joy,0.994722
367279,i take every day as it comes i m just focussin...,fear,fear,0.988913
367280,i just suddenly feel that everything was fake,sadness,anger,0.631073
367281,im feeling more eager than ever to claw back w...,joy,joy,0.990823
367282,i give you plenty of attention even when i fee...,sadness,sadness,0.993329

In [75]:
df.loc[df["emotion_label"] == "disgust"]

,text,emotions,emotion_label,emotion_score
1452,someone called me a disgusting nickname,anger,disgust,0.989337
1543,some people were sitting outside and saying th...,anger,disgust,0.693434
2014,when i saw an insect going up my arm,anger,disgust,0.620516
2364,i discovered that someone is laughing at her w...,anger,disgust,0.492052
4985,when i heard that a woman of my community had ...,anger,disgust,0.901712
...,...,...,...,...
363738,i was looking at a oneman show on television h...,anger,disgust,0.980614
364222,the day i went to eat dinner in the dinning ha...,anger,disgust,0.390364
365578,i am disgusted by people who spoil their ident...,anger,disgust,0.808426
366729,i feel like those thoughts are vile and disgus...,anger,disgust,0.754760
366989,im not really sure how i feel about this becau...,joy,disgust,0.741399

In [76]:
falsche_zeilen = df.loc[df["emotions"] != df["emotion_label"]]
1-(len(falsche_zeilen) / len(df["emotions"]))

0.9167399525706336

In [77]:
surprise_zeilen = falsche_zeilen.loc[df["emotion_label"] == "surprise"]
disgust_zeilen = falsche_zeilen.loc[df["emotion_label"] == "disgust"]
((len(surprise_zeilen)+len(disgust_zeilen)) / len(falsche_zeilen))

0.18986265533028124

In [78]:
1-((len(surprise_zeilen)+len(disgust_zeilen)) / len(df))

0.9841920263121353

In [79]:
wrong=pd.concat([disgust_zeilen,surprise_zeilen])
wrong

,text,emotions,emotion_label,emotion_score
1452,someone called me a disgusting nickname,anger,disgust,0.989337
1543,some people were sitting outside and saying th...,anger,disgust,0.693434
2014,when i saw an insect going up my arm,anger,disgust,0.620516
2364,i discovered that someone is laughing at her w...,anger,disgust,0.492052
4985,when i heard that a woman of my community had ...,anger,disgust,0.901712
...,...,...,...,...
366946,i have been feeling very overwhelmed lately wo...,fear,surprise,0.732936
366954,i feel look weird with straight hair its growi...,fear,surprise,0.625703
366957,i have been feeling really overwhelmed and lik...,fear,surprise,0.818584
367137,i still feel highly suspicious but not unduly ...,fear,surprise,0.526403
367260,i feel totes weird,fear,surprise,0.498118

In [80]:
len(disgust_zeilen.loc[df["emotions"] == "anger"])/len(disgust_zeilen)

0.8694029850746269

In [81]:
print(len(surprise_zeilen.loc[df["emotions"] == "anger"])/len(surprise_zeilen))
print(len(surprise_zeilen.loc[df["emotions"] == "fear"])/len(surprise_zeilen))
print(len(surprise_zeilen.loc[df["emotions"] == "joy"])/len(surprise_zeilen))
print(len(surprise_zeilen.loc[df["emotions"] == "sadness"])/len(surprise_zeilen))

0.03529411764705882
0.5074003795066414
0.3922201138519924
0.0650853889943074

In [82]:
df=df.replace("disgust", "anger")
falsche_zeilen = df.loc[df["emotions"] != df["emotion_label"]]
1-(len(falsche_zeilen) / len(df["emotions"]))

0.9180087289637691

In [83]:
df=df.replace("surprise", "fear")
falsche_zeilen = df.loc[df["emotions"] != df["emotion_label"]]
1-(len(falsche_zeilen) / len(df["emotions"]))

0.9252892183956241